.footer {
  padding: 40px 0 24px;
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid $accent;
  border-right: 4px solid $accent;
  border-left: 4px solid $accent;
  background-color: $secondaryBg;

  @media screen and (max-width: $desktop) {
    padding: 0;
    border-radius: 50px 50px 0px 0px;
    border-top: 2px solid $accent;
    border-right: 2px solid $accent;
    border-left: 2px solid $accent;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }
}

.footer__list {
  align-items: flex-end;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }
}

.footer__link {
  color: $fontColor;
  font-size: 16px;
  line-height: 20px;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }

  &--current {
    color: $accent;
    text-decoration-line: underline;
  }
}
